.mugshot {
  width: auto;
  height: 300px !important;
  max-height: 300px;
}
.carousel-caption {
  margin-left: 100px;
}

.mugshot {
  width: auto;
  height: 300px !important;
  max-height: 300px;
}
.carousel-caption {
  margin-left: 100px;
}

.row{
display:inline;
margin-right:5px;
}
